@model CM.ViewModels.AccountDetailViewModel
@{
    ViewData["Title"] = "MyAccount";
}

<h2>My Account</h2>
<div>Name: @Model.Name</div>
<div>Date of birth: @Model.DateOfBirth.Day - @Model.DateOfBirth.Month - @Model.DateOfBirth.Year</div>
<div>Email: @Model.Email</div>
<div>Phone number: @Model.PhoneNumber</div>
<br />
<a class="btn btn-cta" asp-area="" asp-controller="Account" asp-action="EditNotification">Edit notification</a>
<a class="btn btn-cta" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>

