@model CM.ViewModels.AppointmentViewModel
@using CM.ViewModels;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Dashboard";
}


<h2>Dashboard</h2>
<h4 style="color:rgb(22, 87, 234);">Your appointments</h4>
@if (Model.appointments.Count == 0)
{
    <label> No appointments this week</label>
}

else
{
    <div class="datatable col-lg-12">
        <!-- Headers -->
        <div class="datatable-header">
            <!-- Header 1 -->
            <div class="datatable-header-item col-2">
                <span>Date</span>
            </div>
            <!-- Header 2 -->
            <div class="datatable-header-item col-2">
                <span>Duration</span>
            </div>
            <!-- Header 3 -->
            <div class="datatable-header-item col-4">
                <span>Description</span>
            </div>
            @if (Context.Session.GetInt32("Doctor") == 1 || Context.Session.GetInt32("Admin") == 1)
            {
                <div class="datatable-header-item col-2">
                    <span>Delete appointment</span>
                </div>
            }
        </div>

        <!-- Row -->
        @foreach (AppointmentDetailViewModel appointment in Model.appointments)
        {
            <div class="datatable-row" style="overflow: auto">
                <!-- Row item 1 -->
                <div class="datatable-row-item col-2">
                    <span>@appointment.DateTime</span>
                </div>
                <!-- Row item 2 -->
                <div class="datatable-row-item col-2">
                    <span>@appointment.Duration minutes</span>
                </div>
                <!-- Row item 3 -->
                <div class="datatable-row-item col-4">
                    <span>@appointment.Description</span>
                </div>
                @if (Context.Session.GetInt32("Doctor") == 1 || Context.Session.GetInt32("Admin") == 1)
                {
                    <div class="datatable-row-item col-2">
                        <a asp-area="" asp-controller="Appointment" asp-action="DeleteAppointment" asp-route-AppointmentID="@appointment.AppointmentID">Delete</a>
                    </div>
                }
            </div>
        }

        <br />
    </div>
}



@if (ViewBag.LinkedDoctors != null)
{
<h4 style="color:rgb(22, 87, 234);">Your doctors</h4>
    @foreach (Account account in ViewBag.LinkedDoctors)
    {
        <div>Name: @account.Name</div>
    }
}
@if (ViewBag.LinkedPatients != null)
{
<h4 style="color:rgb(22, 87, 234);">Your patients</h4>
    @foreach (Account account in ViewBag.LinkedPatients)
    {
        <div>Name: @account.Name</div>
    }
}
@if (ViewBag.LinkedDoctors == null && ViewBag.LinkedPatients == null)
{
    <div>No one linked to you</div>
}
