@model CM.ViewModels.AppointmentViewModel
@using Microsoft.AspNetCore.Http;
@using CM.Models
@{
    ViewData["Title"] = "AfspraakPage";
}

<h1>Agenda</h1>
<h3>Werkweek : @DateTime.Now.AddDays(DayOfWeek.Monday - DateTime.Now.DayOfWeek).Day/@DateTime.Now.AddDays(DayOfWeek.Monday - DateTime.Now.DayOfWeek).Month tot @DateTime.Now.AddDays(DayOfWeek.Friday - DateTime.Now.DayOfWeek).Day/@DateTime.Now.AddDays(DayOfWeek.Monday - DateTime.Now.DayOfWeek).Month</h3>
<table class="table">
    <tbody>
        <div class="row">
            <div class="col-md-2">
                <h3> @DayOfWeek.Monday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Monday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2">
                <h3> @DayOfWeek.Tuesday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Tuesday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2">
                <h3> @DayOfWeek.Wednesday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Wednesday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2">
                <h3> @DayOfWeek.Thursday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Thursday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2">
                <h3> @DayOfWeek.Friday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Friday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
        </div>
        <br \ />
        <br \ />
        <br \ />
        <div class="row">
            <div class="col-md-5">
                <h3> @DayOfWeek.Saturday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Monday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-5">
                <h3> @DayOfWeek.Sunday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.DateTime.DayOfWeek == DayOfWeek.Sunday)
                    {
                        <br \ />
                        <div style="border-color: #1657EA; border-style:solid; border-width:thin">
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.DateTime.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Description : @item.Description</label>
                        </div>
                    }
                }
            </div>

        </div>
    </tbody>
</table>


