@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_CreateAppointmentLayout.cshtml";
}

<h2>Appointment aanmaken</h2>
@model CM.ViewModels.AppointmentDetailViewModel
<form asp-area="" asp-controller="Appointment" asp-action="MakeAppointment">
    <div class="form-group">
        <h6>Patient</h6>
<<<<<<< HEAD

        @Html.DropDownListFor(M => M.Patient.AccountID, new SelectList(ViewBag.LinkedPatients, "AccountID", "Name"))

=======
     <select asp-for="Patient.AccountID">
         @foreach(Account a in ViewBag.LinkedPatients)
         {
            <option value="@a.AccountID" >@a.Name</option>
         } 
     </select>
>>>>>>> 5740fd09d9c4aebce1aff2c45b193a72a4072b75
        <h6>Duration</h6>
        @Html.TextBoxFor(m => m.Duration, new { maxlength = "50", size = "30" })
        @Html.ValidationMessageFor(m => m.Duration)
        <h6>Date YYYY-MM-DD 21:00:00.000</h6>
            <div class="row">
                <div class='col-sm-6'>
                    <input type='text' asp-for="DateTime" class="form-control" id='datetimepicker4' />
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker4').datetimepicker();
                    });
                </script>
            </div>
        @*@Html.TextBoxFor(m => m.DateTime, new { maxlength = "50", size = "30" })
        @Html.ValidationMessageFor(m => m.DateTime)*@
        <h6>Location</h6>
        @Html.TextBoxFor(m => m.Coords, new { maxlength = "50", size = "30" })
        @Html.ValidationMessageFor(m => m.Coords)
        <h6>Description (max 200)</h6>
        @Html.TextBoxFor(m => m.Description, new { maxlength = "200", size = "60" })
        @Html.ValidationMessageFor(m => m.Description)

        <button type="submit" class="form-group">Make appointment</button>
    </div>
</form>
