@model CM.ViewModels.AppointmentViewModel
@using Microsoft.AspNetCore.Http;
@using CM.Models
@{
    ViewData["Title"] = "AfspraakPage";
}

<h1>Agenda</h1>
<table class="table">
    <tbody>
        <div class="row">
            <div class="col-md-2" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Monday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Monday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Tuesday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Tuesday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Wednesday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Wednesday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Thursday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Thursday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-2" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Friday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Friday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
        </div>
        <br \ />
        <br \ />
        <br \ />
        <div class="row">
            <div class="col-md-5" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Saturday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Monday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <br \ />
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>
            <div class="col-md-5" style="border-color: black; border-style:solid; border-width:medium">
                <h3> @DayOfWeek.Sunday </h3>
                @foreach (var item in Model.appointment)
                {
                    @if (item.Date.DayOfWeek == DayOfWeek.Sunday)
                    {
                        <br \ />
                        <div style="border-color: black; border-style:solid; border-width:thin">
                            <label> Afspraak : @item.AppointmentID </label>
                            <label> Tijd : @item.Date.TimeOfDay </label>
                            <label> Duur : @item.Duration Minuten</label>
                            <label> Duur : @item.Description Minuten</label>
                        </div>
                    }
                }
            </div>

        </div>
    </tbody>
</table>

@if (Context.Session.GetInt32("Admin") == 1 || Context.Session.GetInt32("Doctor") == 1)
{
    foreach (Appointment appointment in ViewBag.Appointments)
    {

    }
}

